{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chetan Private Limited</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel = "icon" href ="{% static 'img/design.jpg' %}" type = "image/x-"icon>  
              
</head>

<body>
    <div class="container">
    <div class="banner">
        Chetan Private Limited.
    </div>
    <div class="menu">
        <div class="menuitem"><a href="/home">Home</a></div> 
        <div class="menuitem"><a href="/products">Products</a></div> 
        <div class="menuitem"><a href="/people">People</a></div>
        <div class="menuitem"><a href="/contactus">Contact Us</a></div> 
    </div><div class="content">
    {% block content %}    
    {% endblock  %}
    </div>
    <div class="footer">
        Copyright © 2020 Chetan Private Limited, Developed by P S Chetan.
    </div>
    </div>
</body>

</html>